@page "/fetchdata"
@inject HttpClient Http

<PageTitle>Get A Problem</PageTitle>

<h1>Solve This...</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (string.IsNullOrEmpty(problem))
{
    <p><em>Loading...</em></p>
}
else
{
    <p>@problem</p>
}

@code {
    private string? problem;

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetFromJsonAsync<GenAiResponse>("api/Converstaion?operationType=0");
        problem = response.ListOfEquations.FirstOrDefault();
    }

    public class GenAiResponse
    {
        public List<string> ListOfEquations { get; set; } = new List<string>();
        public OperationType OperationType { get; set; }
    }

    public enum OperationType
    {
        Addition = 0,
        Subtraction = 1,
        Division = 2,
        Multiplication = 3
    }


}
